<mat-card *ngIf="this.authService.user.isAdmin">
  <mat-card-header>
    Pending and Expired Instances
  </mat-card-header>
  <mat-card-content>
    <mat-form-field style="margin-top: 15px;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="expiry_date" matSortDirection="asc">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row"><a href="./#/pages/instance/{{row.name}}">{{row.name}}</a></td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let row"> {{row.owner}} </td>
        </ng-container>
        <ng-container matColumnDef="egroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Egroup</th>
          <td mat-cell *matCellDef="let row"> {{row.egroup}} </td>
        </ng-container>
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
          <td mat-cell *matCellDef="let row"> {{row.project}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>
        <ng-container matColumnDef="expiry_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
          <td mat-cell *matCellDef="let row"> {{row.expiry_date}} </td>
        </ng-container>
        <ng-container matColumnDef="validate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Validate</th>
          <td mat-cell *matCellDef="let row">
            <button class="validate" mat-raised-button matTooltip="Validate the instance"  (click)="changeInstance('0', row.name)" [disabled]="row.state != 'AWAITING_APPROVAL'">
              Validate</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="rescue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rescue</th>
          <td mat-cell *matCellDef="let row">
            <button class="rescue" mat-raised-button matTooltip="Rescue the instance" (click)="changeInstance('1', row.name)" [disabled]="row.expiry_date > currentDate || row.expiry_date == null">Restore</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="destroy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destroy</th>
          <td mat-cell *matCellDef="let row">
            <button class="destroy" mat-raised-button matTooltip="Destroy the instance" (click)="changeInstance('2', row.name)" [disabled]="!row.expiry_date">
              Destroy</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
