<div [ngSwitch]="state">
  <div *ngSwitchCase="State['Edit_upgrade']">
    <h3 mat-dialog-title>Edit upgrade rule</h3>
    <p>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select required  [(value)]="selectedCategory">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label> Database type</mat-label>
        <mat-select required  [(value)]="selectedDbType">
          <mat-option *ngFor="let dbType of dbTypes" [value]="dbType.value">
            {{ dbType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field  appearance="standard">
        <mat-label>Version from</mat-label>
        <input [(ngModel)]="versionFrom"  name="versionFrom" type="text" required matInput placeholder="Version from" >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field  appearance="standard">
        <mat-label>Version to</mat-label>
        <input  required  type="text"  matInput placeholder="Version to" [(ngModel)]="versionTo"  >

      </mat-form-field>
    </p>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="primary" cdkFocusInitial (click)='sendRequest()'>Confirm</button>
    </mat-dialog-actions>
  </div>

  <div *ngSwitchCase="State['Loading']">
    <mat-spinner [color]="primary"></mat-spinner>
  </div>

  <div *ngSwitchCase="State['Success']">
    <h2 mat-dialog-title><span matBadgsendRequeste="{{resStatus}}" matBadgeColor="primary" matBadgeOverlap="false">Upgrade rule updated.</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>

  <div *ngSwitchCase="State['Error']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false">Error</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
</div>
