<mat-card style="margin-top: 15px;"  *ngIf="this.authService.user && this.authService.user.isAdmin">
  <mat-card-header>
    Jobs Overview
  </mat-card-header>
  <mat-card-content>
    <div class="flex-container">
      <!-- <ngb-pagination [collectionSize]="this.numberOfItems/this.pageLength" [pageSize]="1" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event)" style="margin-top: 8px"></ngb-pagination> -->
      <div>
        <mat-form-field>
          <mat-select placeholder="Filters" (selectionChange)="changeFilters($event.value)">
            <mat-option [value]="''">All</mat-option>
            <mat-option [value]="'status=eq.succeeded'"><span class="badge badge-success">Succeeded</span></mat-option>
            <mat-option [value]="'status=eq.failed'"><span class="badge badge-danger">Failed</span></mat-option>
            <mat-option [value]="'status=is.null'"><span class="badge badge-warning">Running</span></mat-option>
          </mat-select>
        </mat-form-field>
          <mat-form-field style="margin-left: 20px">
          <mat-select placeholder="Items per page" (selectionChange)="changeItemsPerPage($event)">
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="20">20</mat-option>
            <mat-option [value]="50">50</mat-option>
            <mat-option [value]="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span >Status</span> <span style="margin-left: 3em">Starting date</span> <span style="margin-left: 5em">Ending date</span>
          </mat-panel-title>
          <mat-panel-description>
                  <span style="margin-left: 5em;text-align: center">Description</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let item of this.source" (opened)="panelOpened()" (closed)="panelClosed()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="status" [ngSwitch]="item.status">
            <span class="badge badge-success" *ngSwitchCase="'succeeded'">Succeeded</span>
            <span class="badge badge-danger" *ngSwitchCase="'failed'">Failed</span>
            <span class="badge badge-warning" *ngSwitchCase="">Running</span>
          </span>
            <span style="margin-left: 2em">{{ item.date_started | date : 'short' }}</span> <span style="margin-left: 2em" *ngIf="item.state!='RUNNING'">{{ item.date_completed | date : 'short' }}</span>
          </mat-panel-title>
          <mat-panel-description>
            {{ item.command_name }} requested by {{ item.requester }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <prettyjson [obj]="item"></prettyjson>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>