@media (min-width: 1881px) {
  div,
  iframe {
    width: 100%;
    height: 1000px;
  }
}
@media (min-width: 1441px) and (max-width: 1880px) {
  div,
  iframe {
    width: 100%;
    height: 840px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  div,
  iframe {
    width: 100%;
    height: 650px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  div,
  iframe {
    width: 100%;
    height: 500px;
  }
}
