<div [ngSwitch]="state">
	<div *ngSwitchCase="State['Choose']">
		<h2 mat-dialog-title>Snapshot settings</h2>
		<mat-dialog-content>
			Select the date and time you want to restore your instance at:
			<br /><br />
			<mat-form-field appearance="fill">
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker" [value]="restoreDate" (dateChange)="formatDate($event)">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<input id="restore-time" type="time" name="restore-time" [value]="restoreTime"
				(input)="restoreTime = $event.target.value" (change)="setRestoreTimeAndDate()">
			<button mat-raised-button color="accent" (click)="state=State['Confirm_restore']"
				style="width: 100%">Restore</button>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancel</button>
		</mat-dialog-actions>
	</div>

	<div *ngSwitchCase="State['Confirm_restore']">
		<h2 mat-dialog-title>Restoring Instance</h2>
		<mat-dialog-content>
			<h5 style="text-align: center;">Are you sure you want to restore this instance? All data will be lost.</h5>
			<h6 style="text-align: center;">Instance name : {{ data.instanceName }}</h6>
			<h6 style="text-align: center;">date to restore to:
				{{ datepipe.transform(this.restoreDate, 'yyyy-MM-dd HH:mm:ss') }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancel</button>
			<button mat-button color="primary" cdkFocusInitial (click)='sendRestore()'>Confirm</button>
		</mat-dialog-actions>
	</div>

	<div *ngSwitchCase="State['Loading']">
		<mat-spinner [color]="primary"></mat-spinner>
	</div>

	<div *ngSwitchCase="State['Success']">
		<h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="primary"
				matBadgeOverlap="false">Sucess</span></h2>
		<mat-dialog-content>
			<h6 style="text-align: center;">{{ resMessage }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
		</mat-dialog-actions>
	</div>

	<div *ngSwitchCase="State['Error']">
		<h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false">Error</span>
		</h2>
		<mat-dialog-content>
			<h6 style="text-align: center;">{{ resMessage }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
		</mat-dialog-actions>
	</div>
</div>