<div [ngSwitch]="state">
  <div *ngSwitchCase="State['Confirm_upgrade']">
    <h2 mat-dialog-title>Upgrade database</h2>
    <mat-dialog-content>
      Are you sure you want to upgrade the database from version <b>{{instanceData.version}}</b> to version <b>{{upgradeTo}}</b> ?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="primary" cdkFocusInitial (click)='sendRequest()'>Confirm</button>
    </mat-dialog-actions>
  </div>

  <div *ngSwitchCase="State['Loading']">
    <mat-spinner [color]="primary"></mat-spinner>
  </div>

  <div *ngSwitchCase="State['Success']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="primary" matBadgeOverlap="false">The upgrade has started.</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>

  <div *ngSwitchCase="State['Error']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false">Error</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
</div>
