<mat-card>
  <mat-card-header>
    Instances Overview
  </mat-card-header>
  <mat-card-content>
    <mat-form-field style="margin-top: 15px;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let row">
            <span class="state" [ngSwitch]="row.state">
              <span class="badge badge-success" *ngSwitchCase="'RUNNING'">Running</span>
              <span class="badge badge-danger" *ngSwitchCase="'STOPPED'">Stopped</span>
              <span class="badge badge-warning" *ngSwitchCase="'BUSY'">Busy</span>
              <span class="badge badge-primary" *ngSwitchCase="'MAINTENANCE'">Maintenance</span>
              <span class="badge badge-info" *ngSwitchCase="'AWAITING_APPROVAL'">Awaiting approval</span>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row"><a href="./#/pages/instance/{{row.name}}"> {{row.name}} </a></td>
        </ng-container>
        <ng-container matColumnDef="port">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
          <td mat-cell *matCellDef="let row" > {{(row && row.hasOwnProperty('attributes')) ? row.attributes.port : 0}} </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let row"> {{row.owner}} </td>
        </ng-container>
        <ng-container matColumnDef="egroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Egroup</th>
          <td mat-cell *matCellDef="let row"> {{row.egroup}} </td>
        </ng-container>
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
          <td mat-cell *matCellDef="let row"> {{row.project}} </td>
        </ng-container>
        <ng-container matColumnDef="host"  *ngIf="this.authService.user && this.authService.user.isAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Host</th>
          <td mat-cell *matCellDef="let row"> {{row.host}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
