<mat-card *ngIf="data.hasOwnProperty('user') && this.authService.user.isAdmin!=undefined">
  <mat-card-header>
    <div mat-card-avatar>
      <button mat-icon-button name="state" matTooltip="{{ this.data['state'] }}" matTooltipPosition='above'
        [matMenuTriggerFor]="startStopMenu" [ngSwitch]="editedData.state" style="margin-left:5px">
        <mat-icon *ngSwitchCase="'RUNNING'" style="color:green;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'STOPPED'" style="color:red;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'MAINTENANCE'" style="color:blue;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'BUSY'" style="color:orange;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'AWAITING_APPROVAL'" style="color:cyan;">power_settings_new</mat-icon>
      </button>
      <mat-menu #startStopMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="startStopInstance(true)">
          <mat-icon style="color:green;">play_arrow</mat-icon><span style="color:green;">Start</span>
        </button>
        <button mat-menu-item (click)="startStopInstance(false)">
          <mat-icon style="color:red;">stop</mat-icon><span style="color:red;">Stop</span>
        </button>
      </mat-menu>
    </div>
    <div mat-card-avatar [matTooltip]="this.restrictUpgrade ? 'Upgrade not available' : 'Upgrade'"
      matTooltipPosition='above'>
      <button mat-icon-button [disabled]="this.restrictUpgrade" (click)="upgradeInstance()" style="margin-left:5px">
        <mat-icon [color]="this.restrictUpgrade ? '' : 'primary'">arrow_upward</mat-icon>
      </button>
    </div>
    <div mat-card-avatar>
      <a class="vertical-center" mat-icon-button color="accent" [href]="linkToMonitoring" target="_blank" rel="noopener"
        matTooltip="link to Monitoring" matTooltipPosition='above' style="margin-left:5px">
        <mat-icon color="primary">insert_chart</mat-icon>
      </a>
    </div>
    <mat-card-title>{{data.name }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="data.user!=null; else userMissing">{{ data.user.department }}-{{ data.user.group }}
        {{ data.user.first_name }} {{ data.user.last_name }}</span>
      <ng-template #userMissing><b>User informations are missing</b></ng-template>
    </mat-card-subtitle>
    <div>
      <mat-checkbox *ngIf="this.authService.user.isAdmin" name="notifications"
        [checked]="editedData.attributes.notifications=='true'" [disabled]="!this.authService.user.isAdmin"
        (change)="changeAttributeField('notifications',$event.checked)">Monitoring alerts</mat-checkbox>
    </div>
  </mat-card-header>

  <mat-card-content style="display:flex; justify-content: center;">
    <mat-form-field style="width:50vw">
      <mat-label>Description of the instance</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" placeholder="Description"
        name="description" [(ngModel)]="editedData.description"
        (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content style="display:flex; justify-content: center;">
    <div class="flex-container">
      <form class="example-form">
        <mat-form-field class="field">
          <input matInput placeholder="Owner" name="owner" [(ngModel)]="editedData.owner"
            [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)"
            (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Egroup" name="egroup" [(ngModel)]="editedData.egroup"
            [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)"
            (keyup.enter)="$event.target.blur()">
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput placeholder="Project" name="project" [(ngModel)]="editedData.project"
            (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Type" name="type" [(ngModel)]="editedData.type" disabled
            (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Version" name="version" [(ngModel)]="editedData.version"
            [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)"
            (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <mat-select matInput placeholder="Category" name="category" [(ngModel)]="editedData.category"
            [disabled]="!this.authService.user.isAdmin" (selectionChange)="changeField('category',$event.value)">
            <mat-option value="REF">REF</mat-option>
            <mat-option value="TEST">TEST</mat-option>
            <mat-option value="PROD">PROD</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Charge Group" name="charge-group" [value]="editedData.attributes['charge-group']"
            (input)="editedData.attributes.charge-group = $event.target.value"
            (blur)="changeAttributeField('charge-group',$event.target.value)" (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput type="number" minlength="1" maxlength="6" placeholder="Port" name="port"
            [(ngModel)]="editedData.attributes.port" (blur)="changeAttributeField('port',$event.target.value)"
            (keyup.enter)="$event.target.blur()" [disabled]="!this.authService.user.isAdmin">
        </mat-form-field>
        <mat-form-field class="field" [hidden]="!this.authService.user.isAdmin">
          <input matInput placeholder="Host" name="host" [(ngModel)]="editedData.host"
            (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-content style="display:flex; justify-content: center;">
    <div class="flex-container">
      <form class="example-form">
        <mat-form-field class="field">
          <input matInput placeholder="Creation date" name="creation_date" [(ngModel)]="editedData.creation_date"
            disabled (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput placeholder="Expiry date" name="expiry_date" [(ngModel)]="editedData.expiry_date"
            [disabled]="!this.authService.user.isAdmin" (blur)="checkDate($event.target.name,$event.target.value)"
            (keyup.enter)="$event.target.blur()">
        </mat-form-field>
        <button mat-raised-button name="extend_date" [hidden]="this.expiryButtonDisabled"
          [disabled]="this.buttonDisabled" (click)="extendDate('expiry_date',$event.click)" color="primary">Extend six
          months</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>


<mat-card style="margin-top: 15px;" *ngIf="data.hasOwnProperty('user') && this.authService.user.isAdmin!=undefined">

  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Jobs</a>
      <ng-template ngbNavContent>
        <cern-ngx-instance-jobs [data]="data"></cern-ngx-instance-jobs>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>logs</a>
      <ng-template ngbNavContent>
        <cern-ngx-instance-logs [data]="data"></cern-ngx-instance-logs>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>"File Editor"</a>
      <ng-template ngbNavContent>
        <cern-ngx-instance-file-editor [data]="data"></cern-ngx-instance-file-editor>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>"Backup and restore"</a>
      <ng-template ngbNavContent>
        <cern-ngx-instance-snapshots [data]="data" (instanceScheduledBackupSettingsChange)="loadData()">
        </cern-ngx-instance-snapshots>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem
      *ngIf="data.hasOwnProperty('user') && this.authService.user.isAdmin!=undefined && this.authService.user.isAdmin">
      <a ngbNavLink>"MetaData editor"</a>
      <ng-template ngbNavContent>
        <cern-ngx-metadata-editor [data]="data"></cern-ngx-metadata-editor>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</mat-card>


<div *ngIf="!data.hasOwnProperty('user') && data.hasOwnProperty('status_code')" [ngSwitch]="data.status_code">
    <h1 *ngSwitchCase="401"> Unauthorized</h1>
    <h1 *ngSwitchCase="404"> Not found</h1>
    <h1 *ngSwitchDefault> Error: {{data.status_code}}</h1>
</div>