// th {
//     font-weight: bold;
//     color: #222222;
// }

// .nav-link { 
//    color: #e7f0f8;
// }

// .tab-content {
//     padding: 20px;
// }

// .flex-container{
//   display: flex;
//   justify-content: flex-start;
//   flex-wrap: wrap;
// }

.field {
	margin-right: 30px;
}

.mat-icon-button {
  margin-left: 5px;
  margin-right: 5px;
}


.vertical-center {
  margin: 9px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
