<div [ngSwitch]="state">
	<div *ngSwitchCase="State['Confirm']">
		<h2 mat-dialog-title>Change instance settings</h2>
		<mat-dialog-content>
			You are going to make changes on the following file :<br/><br/>

			<h6 style="text-align: center;">{{ data.title }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
		  <button mat-button mat-dialog-close>Cancel</button>
		  <button mat-button color="primary" cdkFocusInitial (click)='sendRequest()'>Confirm</button>
		</mat-dialog-actions>
	</div>

	<div *ngSwitchCase="State['Loading']">
		<mat-spinner [color]="primary"></mat-spinner>
	</div>

	<div *ngSwitchCase="State['Success']">
		<h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="primary" matBadgeOverlap="false">Success</span></h2>
		<mat-dialog-content>
			<h6 style="text-align: center;">{{ resMessage }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
		  <button mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
		</mat-dialog-actions>
	</div>

	<div *ngSwitchCase="State['Error']">
		<h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false">Error</span></h2>
		<mat-dialog-content>
			<h6 style="text-align: center;">{{ resMessage }}</h6>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
		  <button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
		</mat-dialog-actions>
	</div>
</div>