<div [ngSwitch]="action_status">
  <div *ngSwitchCase="Action_status['Operating']">
    <div [ngSwitch]="action">
      <div *ngSwitchCase="Action['Validate']">
        <h2 mat-dialog-title>Validate instance</h2>
        <mat-dialog-content>
          Are you sure you want to validate the instance <b>{{this.instanceData.name}}</b> ?
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button color="primary" cdkFocusInitial (click)='validateInstance()'>Confirm</button>
        </mat-dialog-actions>
      </div>

        <div *ngSwitchCase="Action['Rescue']">
          <h2 mat-dialog-title>Rescue instance</h2>
          <mat-dialog-content>
            Are you sure you want to rescue the instance <b>{{this.instanceData.name}}</b> ?
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button color="primary" cdkFocusInitial (click)='rescueInstance()'>Confirm</button>
          </mat-dialog-actions>
        </div>

      <div *ngSwitchCase="Action['Destroy']">
        <h2 mat-dialog-title>Destroy instance</h2>
        <mat-dialog-content>
          Are you sure you want to destroy the instance <b>{{this.instanceData.name}}</b> ?
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button color="primary" cdkFocusInitial (click)='destroyInstance()'>Confirm</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="Action_status['Loading']">
    <mat-spinner [color]="primary"></mat-spinner>
  </div>
  <div *ngSwitchCase="Action_status['Success']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="primary" matBadgeOverlap="false">Success</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
  <div *ngSwitchCase="Action_status['Error']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false">Error</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
  <div *ngSwitchCase="Action_status['FimError']">
    <h2 mat-dialog-title><span matBadge="{{resStatus}}" matBadgeColor="warn" matBadgeOverlap="false"><mat-icon color="warn">warning</mat-icon>This instance is still on FIM. Please, delete the instance on FIM first.</span></h2>
    <mat-dialog-content>
      <h6 style="text-align: center;">{{ resMessage }}</h6>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="warn" cdkFocusInitial mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </div>
</div>
