@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-cyan);
$candy-app-accent: mat-palette($mat-cyan, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
