<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="navigateHome()">CERN <span>Accelerating science</span></div>
  </div>
</div>

<div class="header-container">

  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
  <nb-actions size="medium">
    <nb-action>
      <a><span>Signed in as {{ user?.fullname }} from {{ user?.federation }}</span></a>
    </nb-action>
    <nb-action>
      <a href="/logout">Signout</a>
    </nb-action>
    <nb-action>
      <a href="https://cern.ch/directory">Directory</a>
    </nb-action>
  </nb-actions>
</div>
