<div class="flex-container">
    <mat-form-field>
        <mat-select placeholder="File" [value]="selectedConfigFile.title">
            <div *ngIf="configFilesList.length!=0; else configFilesLoading">
                <div *ngFor="let item of configFilesList">
                    <mat-option [value]="item.title" (click)="selectConfigFile(item)">{{ item.title }}</mat-option>
                </div>
            </div>
            <ng-template #configFilesLoading>
                <mat-option><span style="font-style: italic">Loading...</span></mat-option>
            </ng-template>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-raised-button [disabled]="!this.selectedConfigFile.content" (click)="downloadConfigFile()" color="primary" style="margin-right: 10px">
            <mat-icon style="color: white">file_download</mat-icon>
            Download
        </button>
        <button mat-raised-button [disabled]="!this.selectedConfigFile.content" (click)="uploadConfigFile()" color="primary" style="width:122px">
            <mat-icon style="color: white;">publish</mat-icon>
            Upload
        </button>
    </div>
    <div>
      <button mat-raised-button [disabled]="!this.selectedConfigFile.content" color="primary" (click)="validateFile(displayedContent)">Validate changes</button>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!this.selectedConfigFile.content || valid == false" (click)="submitChanges()">Submit changes</button>
    </div>
</div>
<div class="flex-container">
    <mat-form-field style="width: 100%;">
      <div *ngIf="invalid==true">
        <i style="color: red">Invalid content file! You cannot modify the following parameters: <i *ngFor="let item of validatedContents.invalid" [ngClass]="{red: item}">{{item}}</i></i>
      </div>
      <div *ngIf="missing==true">
        <i style="color: orangered">Invalid content file! The following parameters are missing: <i *ngFor="let item of validatedContents.missing" [ngClass]="{orangered: item}">{{item}}</i></i>
      </div>
      <div>
        <textarea spellcheck="false" matInput placeholder="Content"  (ngModelChange)="invalidate()" [(ngModel)]="displayedContent"  matTextareaAutosize></textarea>
      </div>
      <div *ngIf="selectedConfigFile.title!=null && displayedContent==null">
        <i style="color: #00bcd4">Loading...</i>
      </div>
    </mat-form-field>
</div>
