.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 10px;
}

.red {
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}

.orangered {
  text-decoration: underline;
  text-decoration-color: orangered;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}
