<div *ngIf="this.authService.user.isAdmin">
    <cern-ngx-expired-pending [title]="expiredPendingTitle"></cern-ngx-expired-pending>
    <cern-ngx-upgrades [title]="upgradesTitle"></cern-ngx-upgrades>
</div>
