table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.destroy {
  color: white;
  background-color: #f44336;
}

.edit {
  color: white;
  background-color: #006bd4;
}

.noContent {
  text-align: center;
  color: #07c43d;
}
