$default-text: #e9ebec;

.flex-container-statistics {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 10px;
}

pre span {
  white-space: normal;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
