<head>
  <meta name="viewport"
        content="width=device-width,
             initial-scale=1.0">
</head>
<div>
  <cern-ngx-instances></cern-ngx-instances>
  <cern-ngx-jobs></cern-ngx-jobs>
</div>
